@import url(./cards__item.css);
@import url(./cards__title.css);
@import url(./cards__description.css);
@import url(./cards__image.css);

.cards {
  display: flex;
  flex-wrap: wrap;
  /* width: 800px; */
  margin: 0 auto;
  justify-content: space-around;
}
