@import url(./cards__item.css);
@import url(./cards__title.css);
@import url(./cards__description.css);
@import url(./cards__image.css);

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: 920px;
  margin: 0 auto;
}
